*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    --primary-blue: #496DDB;
    --primary-font: 'Source Sans Pro', sans-serif;;
    --secondary-font: 'Playball', cursive;
}
.container{
    width: 100%;
    height: 100%;
}
.home{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.home-content{
    /* position: relative;
    z-index: 0; */
}
.home-head{
    padding-top: 2vh;
}
.home-header{
color: #333;
text-align: center;
font-family: 'Playball', cursive;
font-size: 4.5rem;
letter-spacing: 2px;
padding: .25em;
}
.home-subheader{
    color: #333;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
}
.home-buttons{
    width: fit-content;
    margin: 1.5em auto;
}
.home-button{
    padding: .76em 1em;
    color: darkblue;
    margin: .5em;
    background-color: snow;
    border: 1px solid var(--primary-blue);
    border-radius: 8px;
    letter-spacing: 1px;
}
.home-button:hover{
    color: snow;
    background-color: var(--primary-blue);
    border: 1px solid white;
    transition: 0.3s;
    transition-property: background-color;
}
/* .home-content::after{
    content: '';
    position: absolute;
    background-image: url(../yorkshire-illustrations/kingdom-leaves-11.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    width: 50%;
    height: 70%;
    top: 60%;
    left: 40%;
    z-index: -1;
} */
.home-image{
    /* display: none; */
    /* width: 60%; */
    width: 100%;
    height: 55%;
    margin-top: 8.5vh;
    background-image: url('../yorkshire-photos/blob3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 900px){
    .home{
        /* display: flex; */
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
    }
    .home-content{
        width: 40%;
    }
    .home-header{
        font-size: 6rem;
        
        padding: .1em;
        }
    .home-subheader{
        font-size: 2.5em;
        font-weight: light;
        }
    .home-button{
        padding: 1em 1.6em;
        margin: .75em;
        font-size: 1.5rem;
        border: 1px solid var(--primary-blue);
        border-radius: 5px;
        letter-spacing: 2px;
    }
    /* .home-content::after{
        display: none;
    } */
    .home-image{
        margin-top: unset;
        height: 80%;
        width: 60%;
    }
}
h3{
    font-family: var(--secondary-font);
}
.spends, .gallery{
    width: 100%;
    height: 100%;
}
@media (min-width: 1550px){
    .home-image{
        height: 90%;
    }
}