*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
    --primary-blue: #496DDB;
}
.container{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height: 100vh;
}
.home-content{
    position: relative;
    z-index: 0;
}
.home-head{
    padding-top: 40vh;
}
.home-header{
color: #333;
text-align: center;
font-family: 'Playball', cursive;
font-size: 4.5rem;
letter-spacing: 2px;
padding: .25em;
}
.home-subheader{
    color: #333;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}
.home-buttons{
    width: fit-content;
    margin: 1.5em auto;
}
.home-button{
    padding: .76em 1em;
    color: darkblue;
    margin: .5em;
    background-color: snow;
    border: 1px solid var(--primary-blue);
    border-radius: 8px;
    letter-spacing: 1px;
}
.home-button:hover{
    color: snow;
    background-color: var(--primary-blue);
    border: 1px solid white;
    transition: 0.3s;
    transition-property: background-color;
}
.home-image{
    display: none;
}
@media (min-width: 900px){
    .home{
        display: flex;
    }
    .home-content{
        width: 40%;
    }
    .home-content::after{
        top: 30%;
        width: 50%;
        height: 60%;
    }
    .home-header{
        font-size: 6rem;
        
        padding: .1em;
        }
    .home-subheader{
        font-size: 3rem;
        font-weight: light;
        }
    .home-button{
        padding: 1em 1.6em;
        margin: .75em;
        font-size: 1.5rem;
        border: 1px solid var(--primary-blue);
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .home-image{
        display: unset;
        width: 60%;
        background-image: url('../yorkshire-photos/blob3.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
h3{
    font-family: 'Playball', cursive;
}
.spends, .gallery{
    width: 100%;
    height: 100vh;
}
/* #9EBD6E olivine */
/* DFB2F4 mauve */
/* 355834 hunter green */
/* 496DDB royal blue light */