.testimonials{
    min-height: 100vh;
    height: fit-content;

    position: relative;
    z-index: 0;
}
/* .testimonials::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
} */
.testimonials-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10em 0 18em 0;
}
.testimonials-inner__h3{
    color: #333;
    margin: 1em auto;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
}
.testimonials-inner__header{
    color: #333;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    padding: 0 2em 2em 2em;
}
.testimonials-inner__cards-wrapper{
    width: 40%;
}
.testimonials-inner__card:first-of-type{
    display: block;
    }
.testimonials-inner__card{
    display: none;
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
    height: 80%;
    width: 90%;
    margin: auto;
    border: 2px solid var(--primary-blue);
}
.testimonials-inner__card-text{
    text-align: justify;
    color: #333;
    padding: 1.5em 1em 1em 1em;
    font-size: 1.75em;
    line-height: 1.5;  
}
.testimonials-inner__card-text::before{
    content: url('../yorkshire-icons/icons8-quote-left-50.png');
    display: block;
    padding: 0 0 .8em 0;
}
.testimonials-inner__card-text::after{
    content: url('../yorkshire-icons/icons8-get-quote-50.png');
    display: block;
    float: right;
    padding: 1.5em 0 1.5em 1.5em;
}
.testimonials-inner__card-author{
    clear: right;
    text-align: right;
    padding: 0 3em 3em 0;
    font-size: 1.5em;
    color: #666;
}
.testimonials-inner__card-author span{
    font-weight: bold;
    font-style: italic;
    color: #333;
    letter-spacing: 2px;
}
.testimonials-image{
    /* display: none; */
    /* width: 60%; */
    width: 60%;
    height: 55%;
    margin-top: 8.5vh;
    background-image: url('../yorkshire-photos/blob8.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 1000px){
    .testimonials{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .testimonials-inner__cards-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .testimonials-inner__card{
        display: block;
        width: 35%;
        height: 100%;
        margin: 3em;
    }
    .testimonials-inner__card-text{
        text-align: justify;
        padding: 3em 1em 1.5em 1em;
        font-size: 1.75em;
    }
    .testimonials-image{
        height: 75%;
        width: 60%;
    }
}