.about{
width: 100%;
height: fit-content;
}
.about-blobs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    margin: 0 auto;
}
.about-blobs__blob{
width: 30%;
height: 100%;
background-position: center;
background-size: contain;
background-repeat: no-repeat;
}
.pink-blob{
background-image: url(../yorkshire-illustrations/pink-blob.svg);
}
.yellow-blob{
background-image: url(../yorkshire-illustrations/yellow-blob.svg);
background-position: center;
background-size: contain;
}
.green-blob{
background-image: url(../yorkshire-illustrations/green-blob.svg);
}
.about-blobs__blob-h4{
    color: white;
    text-align: center;
    /* font-style: italic; */
    font-size: 2.5em;
    padding: 2.5em;
    padding-bottom: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}
.about-blobs__blob-text{
    color: white;
    line-height: 1.5;
    padding: .5em 6em 2em 6em;
    font-size: 1.5em;
    text-align: center;
}
.about-main{
    padding: 7em;
    position: relative;
}
.about-main__h3{
    font-size: 5em;
    font-style: italic;
    text-align: center;
    margin: 1.2em auto;
}
.about-main__text{
    font-size: 2em;
    line-height: 1.5;
}
@media (max-width: 900px){
    .about-blobs{
        flex-wrap: wrap;
        height: fit-content;
    }
    .about-blobs__blob{
        width: 90%;
        margin: 2em auto;
    }
    .about-blobs__blob-text{
        color: white;
        line-height: 1.5;
        padding: 0 3.5em 6em 3.5em;
        font-size: 1.5em;
        text-align: center;
    }
    .about-main{
        padding: 3em;
    }
}
@media (min-width: 1550px){
    .about-blobs__blob-text{
        padding: 1em 8em 6em 8em;
        font-size: 1.7em;
    }
    .about-main__text{
        font-size: 2.2em;
        line-height: 2;
        padding: 2em;
    }
}