*, *::before, *::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100%;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height: 100vh;
}
.home-content{
    position: relative;
    z-index: 0;
}
.home-head{
    padding-top: 40vh;
}
.home-header{
color: #333;
text-align: center;
font-weight: bold;
font-style: italic;
font-size: 4.5rem;
letter-spacing: 2px;
padding: .25em;
}
.home-subheader{
    color: #333;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
}
.home-buttons{
    width: fit-content;
    margin: 1.5em auto;
}
.home-button{
    padding: .76em 1em;
    color: white;
    margin: .5em;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    letter-spacing: 1px;
}
.home-button:hover{
    color: black;
    background-color: white;
    transition: 0.3s;
    transition-property: background-color;
}
.home-content::after{
    content: '';
    position: absolute;
    background-image: url(../yorkshire-illustrations/kingdom-leaves-11.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .5;
    width: 60%;
    height: 75%;
    top: 60%;
    left: 40%;
    z-index: -1;
}
.home-image{
    display: none;
}
@media (min-width: 900px){
    .home{
        display: flex;
    }
    .home-content{
        width: 40%;
    }
    .home-content::after{
        top: 30%;
        width: 60%;
        height: 60%;
    }
    .home-header{
        font-size: 7rem;
        letter-spacing: 3px;
        padding: .1em;
        }
    .home-subheader{
        font-size: 3rem;
        }
    .home-button{
        padding: 1em 1.6em;
        margin: .75em;
        font-size: 1.3rem;
        border: 1px solid white;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .home-image{
        display: unset;
        width: 60%;
        background-image: url('../yorkshire-photos/165823151_163611695613313_5391891228653163060_n.jpeg');
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
.about, .spends, .gallery{
    width: 100%;
    height: 100vh;
}
.about{
background-color: #ee82ee;
}
.spends{

}
.gallery{
    background-color: #ff6347;
}
/* #9EBD6E olivine */
/* DFB2F4 mauve */
/* 355834 hunter green */
/* 496DDB royal blue light */