.main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;;
    color: white;
    padding: 2em;
    z-index: 1;
}
.main-navigation__inner {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
}
.main-navigation__logo-link {
    color: #333;
    width: fit-content;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    align-items: center;
    background-color: white;
}
.main-navigation__logo-image {
    width: 70px;
    margin-right: 12px;
}
.main-navigation__menu {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    transition-property: opacity;
}
.main-navigation__menu-item {
    text-decoration: none;
    color: white;
    margin-left: 3vw;
    text-transform: uppercase;
    list-style: none;
    font-weight: bold;
    padding: .2em 0;
}
.main-navigation__menu-item:hover {
    border-bottom: 1px solid white;
    }
.main-navigation__link {
    text-decoration: none;
    color: white;
}
.main-navigation__social-icon {
    width: 1.65em;
}
.main-navigation__mobile-button {
    display: none;
}
@media (max-width: 1025px) {
    .main-navigation__logo-link {
        font-size: 20px;
        width: 40%;
    }
    .main-navigation__logo-image {
        width: 50px;
        margin-right: 10px;
    }
    .main-navigation__menu {
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        background: black;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
    }
    .main-navigation__menu--open {
        opacity: 1;
        pointer-events: unset;
    }
    .main-navigation__menu-item  {
        margin-left: 0px; 
        margin-bottom: 1em;
        padding: 1.5em 0;
    }
    .main-navigation__menu-item:hover {
        text-decoration: underline;
        border-bottom: unset;
        }
    .main-navigation__link {
        font-size: 22px;
    }
    .main-navigation__mobile-button {
        display: unset;
        background: none;
        border: none;
        padding: .2em;
    }
    .main-navigation__mobile-button-image {
        width: 2.5em;
        display: block;
    }
}